@charset "utf-8";
/* components/templates/beans/beans.wxss */
.text-container {
  position: relative;
  background: white;
}

.text-wrapper {
  width: 100%;
  position: relative;
}

.text-item .text-icon {
  width: 100%;
}
