@charset "utf-8";
/* components/templates/beans/beans.wxss */
.images-container {
  position: relative;
  background: white;
}

.images-item {
  display: inline-block;
  font-size: initial;
  text-align: center;
  width: 100%;
}
